body{
   
    margin: 20px;
    padding: 0;
    background-color: lightblue;
}
h1{
    text-align: center;
    color: #2c3e50;
    
   
}
form{
    margin: auto;
    background-color: lightpink;
    max-width: 600px;
    border-radius: 8px;
    box-shadow:0 4px 8px rgba(0,0,0, 0.5) ;
}
fieldset{
    border: 2px solid blue;
    border: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: aquamarine;
}


legend{
    font-weight: bold;
    text-align: center;
    color: #000;
}


label{
    display: block;
    margin-top: 10px;
    color:black;

}


input,textarea{
    width: calc(100% - 1px);
    padding: 8px;
    margin-top: 4px;
    border: 1px solid brown;
    border-radius: 4px;
    box-sizing: border-box;
}

button{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(46, 217, 239);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
  
}

button:hover{
    background-color: blue;
}


#resume-output{
    max-width: 560px;
    margin: auto;
    padding: 20px;
    border: 2px solid #3498bd;
     box-shadow:0 4px 8px rgba(0,0,0, 0.5) ;
    background-color: aliceblue;
}

#resume-output h2{
    color: #2c3e50;
}



/* .profile-picture{
    display: block;
    margin: 0 auto;
    border: 2px solid blueviolet;
    box-shadow: 0 4px 8px rgb(11,7,211,0.5);
    width: 150px;
    height: 150px;
    border-radius: 500%;
    object-fit: cover;
} */




.profileImage {
    width: 100%;             /* Full width of the container */
    max-width: 50px;        /* Optional: Limit max width */
    height: auto;            /* Maintain aspect ratio */
    border-radius: 50%;      /* Make the image circular */
    object-fit: cover;       /* Ensure image covers the area */
    margin-top: 10px;        /* Optional: Space between input and image */
  }
  